<div id="blackjack" data-status="<%= status_game_path(@game) %>">
  <div class="row header">
    <div class="large-10 columns">
      <h1>Blackjack</h1>
    </div>
    <div class="large-2 columns exit">
      <%= link_to 'Exit Game', :back %>
    </div>
  </div>

  <!-- card table and cards -->
  <div class="row cardTable">
    <div class="large-12 columns"></div>
  <!--/div-->

  <!--div class="cards"-->
    <div class="dealer_card_group">
      <!-- dealer cards -->
      <div id="dealer"></div>
    </div>

    <div id="status"></div>

    <div class="player_card_group">
      <!-- player cards -->
      <div id="player"></div>
    </div>
  </div>

  <!-- Game related actions and info -->
  <div class="row">
    <div class="columns large-4">
      <div class="game_stats">
        <h3>Game Stats</h3>

        <div class="row">
          <div class="columns small-4">
            <h5>WIN</h5>
          </div>
          <div class="columns small-4">
            <h5>LOST</h5>
          </div>
          <div class="columns small-4">
            <h5>DRAW</h5>
          </div>
        </div>

        <div class="row">
          <div class="columns small-4">
            <div id="win_stats"></div>
          </div>
          <div class="columns small-4">
            <div id="lost_stats"></div>
          </div>
          <div class="columns small-4">
            <div id="draw_stats"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns large-4"></div>

    <div class="columns large-4">
      <%= link_to 'Deal', deal_game_path(@game), class: 'button deal' %>
      <%#= link_to 'Deal', deal_game_path(@game), :remote => true, class: 'button' %>
      <%= link_to 'Hit', hit_game_path(@game), class: 'button hit' %>
      <%= link_to 'Stand', stand_game_path(@game), class: 'button stand' %>
    </div>
  </div>

</div>

